# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# 环境变量
.env
.env.*

# 日志文件
*.log

# 临时/调试文件
*.html
!templates/*.html

# 虚拟环境
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
